<div class="row col-sm-12 d-flex justify-center">
    <div class="cards col-sm-6">
        <div class="card shadow bg-dark">
            <h4 class="card-title">Ventas</h4>
            <div class="card-body">
                <app-graph-barras></app-graph-barras>
            </div>
        </div>
    </div>
    <div class="cards col-sm-3">
        <div class="card shadow bg-dark">
            <h4 class="card-title">Ventas por Ciudades</h4>
            <div class="card-body mb-4" >
                <app-graph-tortas canvasId="tortaTipos"></app-graph-tortas>
            </div>
        </div>
    </div>
    <div class="cards col-sm-3">
        <div class="card shadow bg-dark">
            <h4 class="card-title">Ventas por Customers</h4>
            <div class="card-body">
                <app-graph-tortas canvasId="tortaSectores"></app-graph-tortas>
            </div>
        </div>
    </div>
</div>
<div class="row col-sm-12 d-flex justify-center mt-2">
    <div class="cards">
        <div class="card shadow bg-dark">
            <h4 class="card-title">Ventas por fecha</h4>
            <div class="card-body card-lineas">
                <app-graph-lineas></app-graph-lineas>
            </div>
        </div>
    </div>
</div>
