*{
    box-sizing: border-box;
}
html{
   
    height: 100%;
    
}
body{
    font-family: 'Russo One' , sans-serif !important;
    color: white;
    height: 100%;
    background-color: black;
}
a{
    color: rgb(0, 217, 255);
}
a:hover{
    color: rgb(0, 183, 255);
}
.shadow{
    box-shadow: 0 12px 10px rgb(51, 48, 48);
}
.section-container{
    padding: 30px;
}
.cards{
    display: flex;
    flex-direction: column;
}